<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AskMeDeals.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B0722E71C7F1CE90067E0D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0723001C7F1CE90067E0D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B07230B1C7F1CEA0067E0D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
